<!DOCTYPE html>
<html lang="en">

<head>
    <title>회원가입</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- icon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='ico/favicon.png') }}">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- Bootstrap bug fix -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

    <!-- Modal window -->
    <script type="text/javascript" src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>

    <!-- AJAX -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!--Socket.IO-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.1/socket.io.min.js" integrity="sha512-mHO4BJ0ELk7Pb1AzhTi3zvUeRgq3RXVOu9tTRfnA6qOxGK4pG2u57DJYolI4KrEnnLTcH9/J5wNOozRTDaybXg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- google Material icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- custom style -->
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/main.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/chat.css')}}">
</head>

<body>
    {% include "navBar.html"%}
    <div class="container mt-3">
        <h4>회원가입</h4>
        <form action="/signup" method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <div class="form-group">
                <label>아이디</label>
                <input type="text" class="form-control" name="id" required>
            </div>
            {% if state == 1 %}
            <p class="text-danger">id가 비어있습니다.</p>
            {% elif state == 2%}
            <p class="text-danger">해당 id가 이미 존재합니다.</p>
            {% endif %}

            <div class="form-group">
                <label>비번</label>
                <input type="password" class="form-control" name="pw" required>
                <label>비번 확인</label>
                <input type="password" class="form-control" name="pwCheck" required>
            </div>
            {% if state == 3 %}
            <p class="text-danger">두 비밀번호가 서로 일치하지 않습니다.</p>
            {% elif state == 4 %}
            <p class="text-danger">비밀번호 규칙에 어긋납니다.<br>비밀번호는 영문 대문자, 소문자, 숫자, 특수문자 조합 중 2가지 이상 8자리이거나,<br> 문자구성 상관없이 10자리 이상이어야 합니다.</p>
            {% endif %}
            <div class="form-group">
                <label>이름</label>
                <input type="text" class="form-control" name="nickname" required>
            </div>
            <div class="form-group">
                <label>이메일</label>
                <input type="email" class="form-control" name="email" required>
            </div>
            {% if state == 5 %}
            <p class="text-danger">email을 입력하지 않았습니다.</p>
            {% endif %}
            <button type="submit" class="btn btn-outline-success">가입</button>
        </form>
    </div>
</body>

</html>